.ui-1_zoom-bold {
  margin-left: 10px;
}

.input-new {
  background-color: white !important;
  height: 50px;
}

.brand {
  margin-top: 50px;
}
.card-top{
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card-background-1 {
  background-color: rgba($color: #41b3a8, $alpha: 0.6);
  background-blend-mode: multiply;
}

.card-background-2 {
  background-color: rgba($color: #577ec5, $alpha: 0.6);
  background-blend-mode: multiply;
}

.card-background-3 {
  background-color: rgba($color: #e03760, $alpha: 0.6);
  background-blend-mode: multiply;
}

.footer-big {
    padding: 30px 0;
    background-color: #e03760 !important;
}

.info-category{
    color: white !important;
}

.info-title{
    color: white !important;
    margin-bottom: 0px;

}

.copyright-new{
    margin-top: 10px
}

.card-profile{
    border-top: 1px solid rgba(100, 100, 100, 0.3);
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    border-right: 1px solid rgba(100, 100, 100, 0.3);
}

.card-body-small{
    min-height: 0px !important;
    
}

.footer-body{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}